<html>
    <body>
        <form action="/insertproduct" method="post">
            product id: <input type="text" name="pid" name="pid">
            product name: <input type="text" name="pname" id="pname">
            product Price: <input type="text" name="pprice" id="pprice">
            product qty: <input type="text" name="pqty" id="pqty">
            <button type="submit" name="btn" id="btn" value="btn">Add Product</button>
        </form>
    </body>
</html>