<html>
    <body>
        <header><h1>User login page</h1></header>
        <form action="/loginuser">
            Name : <input type="text" name="uname" id="uname"><br>
            Password: <input type="text" name="passwd" id="passwd"><br>
            <button type="submit" name="btn" id="btn" value="login">Login</button><br>
            <button type="reset" name="btn" id="btn" value="cancel">Cancel</button><br>
            <a href="/register">Register me</a>
        </form>
        
    </body>
</html>
