<html>
    <body>
        <form action="/updateproduct" method="post">
         product id: <input type="text" name="pid" id="pid" value="<%=pro.pid%>" readonly>
         product Name :<input type="text" name="pname" id="pname" value="<%=pro.pname%>"><br>
         product price:<input type="text" name="price" id="price" value="<%=pro.price%>"><br>
         product qty:<input type="text" name="qty" id="qty" value="<%=pro.qty%>"><br>
         <button type="submit" name="btn" id="btn" value="btn">Update Product</button>
        </form>
    </body>
</html>