
legend{
    background-color: blue;
    border-radius: 5px;
}
td{

padding-top: 20px;
}
td:first-child{
    text-align: right;
}
fieldset{
    margin: 10px;
}
.text{
    background-color: rgb(7, 7, 7);
    border-radius: 5px;
}
.sp{
    background-color: blue; border-radius: 5px; width: 100px; color: white;
}
input{
    color: white;
}
        